<!DOCTYPE html>
<html>
    <head>
        <title>Vinyl Collection</title>
    </head>
    <body>
        <h1><%= @vinyl.album_name %></h1>
        <h2>By: <%= @vinyl.artist_name %></h2>
        <p>Current Condition: <%= @vinyl.vinyl_condition %></p>

        <div class="btn-group">
            <button type="submit"><a href="/vinyl/<%= @vinyl.id %>/edit">Edit Record</a></button>
        
            <button type="submit"><a href="/vinyl">Back to My Collection</a></button>
        </div><br></br>
        
        <form method="POST" action="/vinyl/<%= @vinyl.id %>">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <button type="submit">Delete Album</button>
        </form>
    </body>
</html>